[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-caching = "*"
flask-socketio = "*"
simplepam = "*"
humanize = "*"
python-dateutil = "*"
redis = "*"
eventlet = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.7"
