{% extends "layout.html" %}
{% block content %}
    <div class="top-bar">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand" href="/">asabridge</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="javascript:window.location.reload(true)">Reading list<span class="sr-only"> (current)</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav mt-2 mt-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/logs">Logs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="readinglist-container container">
        <form id="addReadinglistItemForm" class="needs-validation" action="{{ url_for('readinglist.add_readinglist_item') }}" method=POST novalidate>
            <div class="form-group form-group-sm">
                <input type="url" name="url" class="form-control" id="urlInput" placeholder="Enter link" required>
                <div class="invalid-feedback">
                    Invalid url.
                </div>
           </div>
           <div class="d-flex justify-content-end">
               <button type="submit" class="btn btn-sm btn-outline-primary">Add Entry</button>
           </div>
        </form>
        <br>
        <div class="list-group">
            {% for entry in entries %}
                <a href={{ entry.url }} class="rl-item list-group-item list-group-item-action">
                    <div class="rl-item-content">
                        {% if entry.image_url %}
                        <div class="rl-img-container" style="background-image: url('{{ entry.image_url }}');">
                        {% else %}
                        <div class="rl-img-container" style="background-image: url('data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=');">
                        {% endif %}
                        </div>
                        <div class="rl-item-textual-content">
                            <div class="rl-item-header">
                                {{ entry.title }}
                                <div class="rl-item-small-text text-muted">{{ entry.date }}</div>
                            </div>
                            <div class="rl-preview-container">
                                <div class="rl-item-small-text text-muted">{{ entry.preview }}</div>
                                <div class="rl-item-delete">
                                    <form action="{{ url_for('readinglist.delete_readinglist_item') }}" method=post novalidate>
                                        <input type="hidden" name="index" value="{{ loop.index0 }}" />
                                        <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <script>
        'use strict';
        let urlInput = document.getElementById('urlInput');
        urlInput.addEventListener('input', function() {
            urlInput.classList.remove('is-invalid');
        }, false);
        let form = document.getElementById('addReadinglistItemForm');
        form.addEventListener('submit', function (event) {
            if (!urlInput.checkValidity()) {
                urlInput.classList.add("is-invalid");
                event.preventDefault();
                event.stopPropagation();
            }
        }, false);
    </script>
{% endblock %}
