body {
    background-color: #f8f9fa!important;
    height: 100vh;
}

.welcome-container {
    padding: 60px 15px 0;
}

.readinglist-container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.top-bar {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.login-form-header {
    text-align: center;
}

.login-form {
    max-width: 420px;
    padding: 35px;
    margin: 0 auto;
    border-radius: 7px;
}

.remember-me-control {
    margin-top: 10px;
    margin-bottom: 30px;
}

.username-input {
    margin-bottom: 4px;
}

.copyright-container {
    max-width: 420px;
    margin: 0 auto;
    padding: 0 35px;
}

.copyright-text {
    text-align: right;
    font-size: 0.8rem;
}

.rl-item-header {
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.rl-item-small-text {
    font-size: 0.75em;
}

.rl-img-container {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid rgba(0,0,0,.125);
    background: no-repeat center;
    background-size: cover;
}

.rl-item {
    padding: 0 10px;
}

.rl-item-content {
    display: flex;
    align-items: stretch;
}

.rl-item-textual-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rl-preview-container {
    display: flex;
    justify-content: space-between;
}

.rl-item-delete {
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.rl-item:hover .rl-item-delete {
    visibility: visible;
}
