{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="login-form">
            <h3 class="login-form-header">asabridge login</h3>
            <br>
            <form id="loginForm" class="needs-validation" method=POST novalidate>
                <div class="form-group form-group-sm">
                    <input type="text" name="username" class="{{ 'is-invalid ' if session['failed_login_attempt'] }}username-input form-control" id="usernameInput"
                           placeholder="Username" autocorrect="off" autocapitalize="off" spellcheck="false" required>
                    <input type="password" name="password" class="{{ 'is-invalid ' if session['failed_login_attempt'] }}password-input form-control" id="passwordInput"
                           placeholder="Password" required>
                    <div class="invalid-feedback">
                        Login failed.
                    </div>
                    <div class="remember-me-control custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="rememberMeCheckbox" name="remember_me">
                        <label class="custom-control-label" for="rememberMeCheckbox">
                            Remember me
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
        </div>
        <div class="copyright-container">
            <p class="copyright-text text-muted">© Andreas Schulz</p>
        </div>
    </div>
    <script>
        'use strict';
        let usernameInput = document.getElementById('usernameInput');
        let passwordInput = document.getElementById('passwordInput');
        usernameInput.addEventListener('input', function() {
            usernameInput.classList.remove('is-invalid');
            passwordInput.classList.remove('is-invalid');
        }, false);
        passwordInput.addEventListener('input', function() {
            usernameInput.classList.remove('is-invalid');
            passwordInput.classList.remove('is-invalid');
        }, false);
        let form = document.getElementById('loginForm');
        form.addEventListener('submit', function (event) {
            let valid = true;
            if (!usernameInput.checkValidity()) {
                usernameInput.classList.add("is-invalid");
                valid = false;
            }
            if (!passwordInput.checkValidity()) {
                passwordInput.classList.add("is-invalid");
                valid = false;
            }
            if (!valid) {
                event.preventDefault();
                event.stopPropagation();
            }
        }, false);
    </script>
{% endblock %}
