<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <dict>
        <key>KeepAlive</key>
        <true/>
        <key>Label</key>
        <string>com.aschulz.asabridge-logging-broadcast</string>
        <key>WorkingDirectory</key>
        <string>/Users/aschulz/Projects/asabridge/log</string>
        <key>EnvironmentVariables</key>
        <dict>
            <key>PATH</key>
            <string>/usr/local/bin:$PATH</string>
        </dict>
        <key>ProgramArguments</key>
        <array>
            <string>/bin/bash</string>
            <string>-c</string>
            <string>/usr/bin/tail -n0 -F asabridge.log | /usr/local/bin/rtail --name asabridge.log</string>
        </array>        
        <key>StandardOutPath</key>
        <string>/Users/aschulz/Projects/asabridge/log/asabridge-logging-broadcast.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/aschulz/Projects/asabridge/log/asabridge-logging-broadcast.log</string>
    </dict>
</plist>
