<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <dict>
        <key>KeepAlive</key>
        <true/>
        <key>Label</key>
        <string>com.aschulz.ipbridge</string>
        <key>WorkingDirectory</key>
        <string>/Users/aschulz/Projects/ipbridge</string>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/gunicorn</string>
            <string>--config</string>
            <string>ipbridge/config.py</string>
            <string>ipbridge_app</string>
        </array>        
        <key>StandardOutPath</key>
        <string>/Users/aschulz/Projects/ipbridge/log/ipbridge.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/aschulz/Projects/ipbridge/log/ipbridge.log</string>
    </dict>
</plist>
